body {
	font-family: sans-serif;
	padding: 5px 15px;
	display: flex;
	justify-content: center;
}

#form1,
#form2 {
	display: flex;
	flex-direction: column;
	padding: 15px;
	width: 200px;
}
#form1 button,
#form2 button{
	display: block;
	background-color: #eddff6;
	padding: 10px;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #eddff7;
}
